@import 'tailwindcss';

@theme {
  /* Dark shades */
  --color-dark-900: #111111;
  --color-dark-700: #757575;
  --color-dark-500: #aaaaaa;

  /* Light shades */
  --color-light-100: #ffffff;
  --color-light-200: #f5f5f5;
  --color-light-300: #e5e5e5;
  --color-light-400: #cccccc;

  /* Supporting colors */
  --color-green: #007d48;
  --color-red: #d33918;
  --color-orange: #d37918;

  /* Font family */
  --font-vazir: 'vazirmatn';

  /* Heading sizes */
  --text-h1: 72px;
  --text-h1--line-height: 78px;
  --text-h1--font-weight: 700;

  --text-h2: 56px;
  --text-h2--line-height: 60px;
  --text-h2--font-weight: 700;

  --text-h3: 24px;
  --text-h3--line-height: 30px;
  --text-h3--font-weight: 500;

  /* Lead */
  --text-lead: 20px;
  --text-lead--line-height: 28px;
  --text-lead--font-weight: 500;

  /* Body */
  --text-body: 16px;
  --text-body--line-height: 24px;
  --text-body--font-weight: 400;

  --text-body-medium: 16px;
  --text-body-medium--line-height: 24px;
  --text-body-medium--font-weight: 500;

  /* Caption */
  --text-caption: 14px;
  --text-caption--line-height: 20px;
  --text-caption--font-weight: 500;

  /* Footnote */
  --text-footnote: 12px;
  --text-footnote--line-height: 18px;
  --text-footnote--font-weight: 400;
}
